@mixin button-size($padding-y, $padding-x, $font-size, $bordr-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $bordr-radius;
}
@mixin button-style(
  $background,
  $border,
  $color,
  $hover-bg: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-bg;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-bg;
    border-color: $hover-border;
  }
  &.disabled,
  &:disabled {
    color: $hover-color;
    background: $hover-bg;
    border-color: $hover-border;
  }
}
